EXPO_PUBLIC_SUPABASE_URL=""
EXPO_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
EXPO_PUBLIC_API_URL=""
STRIPE_SECRET_KEY=""
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=""
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_GOOGLE_WEB_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_GOOGLE_ANDROID_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=""
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=""
